# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: |
           cmake --version
           cd ${{github.workspace}}/tflite_example
           git clone https://github.com/tensorflow/tensorflow.git tensorflow_src
           cp minimal.cc tensorflow_src/tensorflow/lite/examples/minimal/
           ls
           pwd
           # cp *.h  tensorflow_src/tensorflow/lite/examples/minimal/
           # mkdir minimal_build
           # cd minimal_build
           # cmake ../tensorflow_src/tensorflow/lite/examples/minimal
           # cmake --build . -j

    - name: Test
      working-directory: ${{github.workspace}}/tflite_example/minimal_build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ./minimal ../../models/whisper-tiny-en.tflite ../samples/jfk.wav

